<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>

 <key>com.tencent.rdm.uuid</key>
<string>0cd8945f-a84a-4c98-a318-ab31e0dac457</string>
		<key>emojiTag</key>
		<string>[微笑]</string>
		<key>emojiIndex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[撇嘴]</string>
		<key>emojiIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[色]</string>
		<key>emojiIndex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[发呆]</string>
		<key>emojiIndex</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[得意]</string>
		<key>emojiIndex</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[流泪]</string>
		<key>emojiIndex</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[害羞]</string>
		<key>emojiIndex</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[闭嘴]</string>
		<key>emojiIndex</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[睡]</string>
		<key>emojiIndex</key>
		<integer>8</integer>
	</dict>
    <dict>
        <key>emojiTag</key>
        <string>[大哭]</string>
        <key>emojiIndex</key>
        <integer>9</integer>
    </dict>
	<dict>
		<key>emojiTag</key>
		<string>[尴尬]</string>
		<key>emojiIndex</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[发怒]</string>
		<key>emojiIndex</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[调皮]</string>
		<key>emojiIndex</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[呲牙]</string>
		<key>emojiIndex</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[惊讶]</string>
		<key>emojiIndex</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[难过]</string>
		<key>emojiIndex</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[酷]</string>
		<key>emojiIndex</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[冷汗]</string>
		<key>emojiIndex</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[抓狂]</string>
		<key>emojiIndex</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[吐]</string>
		<key>emojiIndex</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[偷笑]</string>
		<key>emojiIndex</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[可爱]</string>
		<key>emojiIndex</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[白眼]</string>
		<key>emojiIndex</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[傲慢]</string>
		<key>emojiIndex</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[饥饿]</string>
		<key>emojiIndex</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[困]</string>
		<key>emojiIndex</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[惊恐]</string>
		<key>emojiIndex</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[流汗]</string>
		<key>emojiIndex</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[憨笑]</string>
		<key>emojiIndex</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[大兵]</string>
		<key>emojiIndex</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[奋斗]</string>
		<key>emojiIndex</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[咒骂]</string>
		<key>emojiIndex</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[疑问]</string>
		<key>emojiIndex</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[嘘]</string>
		<key>emojiIndex</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[晕]</string>
		<key>emojiIndex</key>
		<integer>34</integer>
	</dict>
	
</array>
</plist>
