<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Coin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
				<key>dateExpires</key>
				<string>2019/9/15</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire_Synchronous.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BigInt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CDCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NBHTTP.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PYPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Qiniu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SGQRCode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SipHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UIDeviceIdentifier.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskCoreSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskProviderSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>libsodium.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>secp256k1_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89A319081CE472A92A7CA707ED2B62887A2F794F</string>
						<key>dateExpires</key>
						<string>2019/9/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>web3swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZCW993X44</string>
						<key>name</key>
						<string>LANCHAO PTE. LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3ZCW993X44.com.cdkj.tha</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3ZCW993X44</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3ZCW993X44.com.cdkj.tha</string>
				</array>
			</dict>
			<key>name</key>
			<string>Coin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0bdfda8-16f4-44bb-9c04-c57f281a59dc</string>
				<key>name</key>
				<string>theia</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3ZCW993X44</string>
				<key>name</key>
				<string>LANCHAO PTE. LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
